body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Helvetica Neue', sans-serif;
    -web-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, consolas, 'courier New'
    monospace;
}
.container{
    text-align: center;
}
.container input{
    width: 50px;
    height: 50px;
    outline: none;
    border: 2px solid black;
    border-radius: 2px;
    margin: 11px;
    text-align: center;
    font-size: 22px;
}
.container button{
    width: 140px;
    height: 40px;
    background-color: rgb(4, 136, 252);
    color: white;
    font-size: 21px;
    border: none;
    cursor: pointer;
}

.container input:focus{
    border: 2px solid rgb(0, 98, 255);
}
