body{
  margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Melo, Monaco, consolas, 'courier New',
  monospace;
}
.container{
  text-align: center;
}
.container input{
  width: 50px;
  height: 50px;
  outline:none;
  border: 2px solid black;
  border-radius: 4px;
  margin: 11px;
}
.container button{
  width: 140px;
  height: 48px;
  background-color: rgb(4, 136, 252);
  color: white;
  font-size: 21px;
  border: none;
}